<% environment.context_class.instance_eval { include Rails.application.routes.url_helpers } %>

<div class="row">
  <div class="col-md-offset-2 col-md-8 text-center">
    <h1>Review your books today!</h1>
    <h3>Write down your thoughts about the book and understand it better</h3>
       <br>
       <br>
       <h3>Why to write reviews?</h3>
       <ol class="text-left">
         <li>It allows you to reflect once more on the book key points.</li>
         <li>It allows you to organize your thoughs better.</li>
         <li>You have more sophisticated opinion then: 'I guess it's okay'.</li>
         <li>You clearly see how many book you have read.</li>
       </ol>
       <br />
       <br>
       <h3>How it works?</h3>
       <p>
         It's really simple - you write down informations about the book such as author and title.
         Then your write the review and give the book a rating on a scale from 1 to 5.
         The app looks for the image of cover of the book.
       </p>
  </div>
</div>
