books length {{ books.length }}
<form novalidate class="simple-form">
    Author: <input type="text" ng-model="book.author" /><br />
    Title: <input type="text" ng-model="book.title" /><br />
    Review: <input type="text" ng-model="book.review" /><br />
    Rating: <select name="Rating" ng-model="book.rating">
      <option value='1'>1</option>
      <option value='2'>2</option>
      <option value='3'>3</option>
      <option value='4'>4</option>
      <option value='5'>5</option>
    </select><br />
    <input type="submit" ng-click="save()" value="Save" />
</form>
