<div class="row top-row">
  <div class='col-md-8'>
    <button type="button" class="btn btn-default pull-right" ng-click="toggleForm()">{{ buttonName }}</button>
    <input ng-show="!showForm" ng-model="query" placeholder='Search by author, title or review' class="pretty-input">
    <book-form></book-form>
    <hr ng-show="showForm">
  </div>
  <div class="col-md-4" ng-show='showForm'>
    <book-preview></book-preview>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <book-list></book-list>
  </div>
</div>
