// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-row {
  margin-bottom: 20px;
}

.pretty-input {
  border-radius: 5%;
  padding: 5px;
  width: 60%;
  border-style: double;
}

.book-cover {
  margin-bottom: 15px;
}
